<div class="edit-container">
<h4>Edit the name or notes on this item</h4>
<div class="edit-content">
<%= form_for(@item) do |f| %>  
  <div class="field"> 
    <%= f.text_field :content, class: "edit-content-input" %>
    <%= f.text_area :notes, class: "edit-content-notes" %> 
  </div> 
  <div class="actions"> 
    <%= link_to "Cancel", "/", class: "edit-cancel"%>
    <%= f.submit "Edit", class: "edit-submit" %> 
  </div> 
<% end %> 
</div>
</div>